{% extends 'base.html' %}

{% block body %}
<div class="container py-3">

    <div class="row">
        <div class="col-3">
            <p class="ps-2">Display by:</p>
            <form action="" method="GET">
                <div class="btn-group" data-toggle="buttons">
                    {% with '10 20 50' as list %}
                        {% for i in list.split %}
                            {% if i == paglim %}
                            <label class="btn ">
                                <input type="radio" name="paglim" id="opt{{i}}" value="{{i}}" checked> {{i}}
                            </label>
                            {% else %}
                            <label class="btn ">
                                <input type="radio" name="paglim" id="opt{{i}}" value="{{i}}"> {{i}}
                            </label>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <input type="submit" value="Paginate" class="btn btn-secondary">
            </form>
        </div>

        <div class="col-6">
            {% for post in posts %}
            {% include 'news/post_card.html' with post=post %}
            {% endfor %}

            {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?paglim={{paglim}}&page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?paglim={{paglim}}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                    </li>
                    {% endif %}

                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?paglim={{paglim}}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?paglim={{paglim}}&page={{ page_obj.paginator.num_pages }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}