{% extends 'base.html' %}

{% block body %}
<div class="container py-3">

    <div class="row">
        <div class="col-3">
            <p>Display by:</p>
            <form action="" method="GET">
                <div class="btn-group" data-toggle="buttons">
                    {% with '10 20 50' as list %}
                        {% for i in list.split %}
                            {% if i == request.session.paglim %}
                            <label class="btn ">
                                <input type="radio" name="paglim" id="opt{{i}}" value="{{i}}" checked> {{i}}
                            </label>
                            {% else %}
                            <label class="btn ">
                                <input type="radio" name="paglim" id="opt{{i}}" value="{{i}}"> {{i}}
                            </label>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <input type="submit" value="Paginate" class="btn btn-secondary">
            </form>
        </div>

        <div class="col-6">
            {% for post in posts %}
            {% include 'news/post_card.html' with post=post %}
            {% endfor %}

            {% if page_obj.has_other_pages %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?paglim={{paglim}}&page=1">&laquo; first</a>
                    <a href="?paglim={{paglim}}&page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        | {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} |
                    </span>

                    {% if page_obj.has_next %}
                    <a href="?paglim={{paglim}}&page={{ page_obj.next_page_number }}">next</a>
                    <a href="?paglim={{paglim}}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}

        </div>
    </div>

</div>
{% endblock %}